@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  /* .logo {
    width: 100%;
  } */

  .header-nav-wrap {
    background-color: transparent;
    max-width: unset;
    height: unset;
    position: static;
  }

  .header-btn-mobile {
    display: none;
  }

  .header-btn-mobile-close {
    display: none;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
    margin-left: 76px;
    margin-right: auto;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }

  .site-nav .item:last-child {
    margin-right: 332px;
  }

  .header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--primary-header-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;

    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  .header-link.active::after {
    content: "";
    width: 100%;
    height: 4px;
    background: var(--primary-active-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .active {
    color: var(--primary-active-color);
  }

  /* Contacts-nav */

  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts-nav {
    display: flex;
    align-items: center;
  }

  .contacts-nav .item + .item {
    margin-left: 40px;
  }

  .contacts a {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts a:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  .mobile-social-list {
    display: none;
  }

  /* HERO */

  .hero {
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-hero.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-desctop-2x.jpg);
    }
  }

  .hero-title {
    margin: 0 auto;
    max-width: 494px;
    padding-bottom: 48px;

    line-height: 60px;
    font-size: 56px;
  }

  .features {
    padding-top: 120px;
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .features-list .list-item {
    margin-left: 24px;
  }

  .features-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
  }

  .list-item::before {
    display: block;
    content: "";
    height: 112px;
    background-color: #f4f4fd;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }

  /* WORKS */

  .works {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .works-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work:not(:last-child) {
    display: flex;
    padding-right: 24px;
  }

  /* TEAM */

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* margin-left: 156px;
    margin-right: 156px; */
  }

  .team-text {
    margin: 0;
    padding: 32px 16px;
  }

  .team-item-text {
    margin-bottom: 8px;
  }

  /* .customers {
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 0;
  } */

  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .customer {
    display: flex;
    width: 168px;
    height: 88px;
  }

  .footer {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;

    /* align-items: baseline; */
  }

  .footer-logo {
    margin-right: 120px;
  }

  .footer-list {
    margin-right: 80px;
  }

  .footer-form {
    display: flex;
    flex-wrap: nowrap;
  }

  .email-input {
    min-width: 264px;
  }

  .footer-subscribe-btn {
    margin-left: 24px;
  }

  .filters {
    padding-bottom: 146px;
    padding-top: 96px;
  }

  .filters-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 96px;
    padding: 0px;
    gap: 24px;
  }

  .examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .examples-list .item {
    width: calc((100% - 54px) / 3);
  }
}
