@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-nav-wrap {
    background-color: transparent;
    max-width: unset;
    height: unset;
    position: static;
    padding: 0;

    display: flex;
    margin-left: 76px;
    margin-right: auto;
    align-items: center;
  }

  /* .site-nav .item:not(:last-child) {
    margin-right: 40px;
  } */

  .main-nav {
    display: flex;
  }

  .logo {
    display: flex;
    margin-top: 24px;
    margin-right: 16px;
  }

  .header-link {
    color: var(--primary-header-color);

    position: relative;
    font-size: 16px;
    font-weight: 500;

    margin-left: 40px;
    margin-right: auto;
  }

  .contacts-nav {
    display: block;
    margin-left: auto;
  }

  .contacts a {
    font-size: 12px;
  }

  .header-btn-mobile {
    display: none;
  }

  .header-btn-mobile-close {
    display: none;
  }

  .site-nav {
    display: flex;
    margin-left: 76px;
    margin-right: auto;
  }

  .mobile-social-list {
    display: none;
  }

  .hero {
    padding: 112px 0;
    max-width: 768px;
    height: 436px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Tablet-bg-2.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/mobile-bg-2.jpg);
    }
  }

  .hero-title {
    max-width: 494px;
    margin: 0 auto;

    margin-bottom: 40px;
    line-height: 60px;
    font-size: 56px;
  }

  .features {
    padding-top: 96px;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-list .list-item {
    padding-bottom: 72px;
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: start;
  }

  .list-item::before {
    display: none;
  }

  .team-container {
    max-width: 552px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 108px;
    padding-right: 108px; */
  }

  .team-list .item {
    width: calc((100% - 24px) / 2);
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 108px;
    padding-right: 108px;
  }
  .customer {
    width: calc((100% - 48px) / 3);

    height: 88px;
  }

  .works {
    display: none;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;

    padding-left: 108px;
  }

  .footer-logo {
    gap: 24px;
  }

  .footer-logo .item {
    margin-left: 0;
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .footer-social-list {
    margin: 0;
  }

  .footer-form {
    display: flex;
  }

  .mobile-h {
    justify-content: flex-start;
  }

  .email-input {
    min-width: 264px;
  }

  .footer-subscribe-btn {
    margin-left: 24px;
  }

  .filters {
    padding-bottom: 96px;
    padding-top: 52px;
  }

  .filters-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 52px;
  }

  .examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .examples-list .item {
    width: calc((100% - 24px) / 2);
  }
}
